<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4 text-center">Project Management</h1>
    <div class="overflow-x-auto">
      <table class="table-auto w-full border border-gray-300 shadow-md">
        <thead class="bg-gray-800 text-white">
          <tr>
            
            <th class="px-4 py-2 text-left">Name</th>
            <th class="px-4 py-2 text-left">Start Date</th>
            <th class="px-4 py-2 text-left">End Date</th>
            <th class="px-4 py-2 text-left">Description</th>
            <th class="px-4 py-2 text-left">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let project of Projects"
            class="border-b hover:bg-gray-100"
          >
          
            <td class="px-4 py-2">{{ project.name }}</td>
            <td class="px-4 py-2">{{ project.date_start | date }}</td>
            <td class="px-4 py-2">{{ project.date_end | date }}</td>
            <td class="px-4 py-2">{{ project.description }}</td>
            <td class="px-4 py-2"><button><img src="../../../assets/icons/editer.png" alt="Example Image" class="w-5 h-auto" w></button><button (click)="delete(project.project_id)"><img src="../../../assets/icons/supprimer.png" alt="Example Image" class="w-5 h-auto" w></button></td>
          </tr>
          <tr *ngIf="Projects.length === 0">
            <td colspan="5" class="px-4 py-2 text-center text-gray-500">
              No projects available.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  